:root {
  --background-color: #f5f5f5;
  --first-color: #212121;
  --secondary-color: #757575;
  --third-color: #2196f3;
  --fourth-color: #000000;
  --background-secondary-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --main-color: #ffffff;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --port-border-color: #eeeeee;
  --social-color: #afb1b8;
  --social-link-beck: rgba(255, 255, 255, 0.1);
  --overlay-color: rgba(33, 150, 243, 0.9);
}