.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
  
}

.header-nav__logo {
margin: 16px 0px;
display: flex;
align-items: center;
justify-content: space-between;
}
.logo {
  color: var(--third-color);
  // margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  // font-size: 26px;
  // line-height: 1.2;
  font-size: 24px;
    line-height: 1.174;
  text-decoration: none;
}

.studio {
  color: var(--fourth-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  // font-size: 26px;
  // line-height: 1.2;
  font-size: 24px;
    line-height: 1.383;
  text-decoration: none;
}


.mobile-button {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  justify-content: flex-end;
}

.mobile-button .icon-cross {
  display: none;
}
.mobile-button.is-open .icon-cross {
display: block;

.mobile-button.is-open .icon-menu {
  display: none;
}

}
.site-nav__list {

  display: none;
  color: var(--first-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  list-style: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  @media screen and (min-width: 768px) {
      display: flex;
    }
}

.contact-nav__link {
  display: flex;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  list-style: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--third-color);
  }
   
}

.site-nav__link {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--first-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--third-color);
  }
}

.site-nav__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.link.current {
  color: var(--third-color);
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--third-color);
  bottom: -1px;
  left: 0px;
  border-radius: 2px;
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav {
  display: none;
  margin-left: auto;
  align-items: center;

  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
      display: flex;
    }
}

.contact-nav__item {
  margin-left: 50px;
  list-style: none;

  &:first-child {
    margin-left: 0;
  }
}

.contact-nav__icon {
  display: flex;
  align-items: center;
  fill: var(--secondary-color);

  &:hover,
  &:focus {
    fill: var(--third-color);
  }
}

.contact-nav__icon-margin {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
