.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
  
}

.header-nav__logo {
margin: 10px 0px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
@media screen and (min-width: 768px) {
    margin-right: 87px;
    width: 145px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo {
  color: var(--third-color);
  
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
    line-height: 1.174;
  text-decoration: none;
@media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
 
}

.studio {
  color: var(--fourth-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
    line-height: 1.383;
  text-decoration: none;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
      line-height: 1.2; 
    }
}


//mobile menu//
.no-scroll {
  overflow: hidden;
}

.menu-open {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:hover, &:focus {
    fill: var(--third-color);
  }


  @media screen and (min-width: 768px) {
      display: none;
    }
}

.menu-close {
  position: absolute;
  padding: 0;
  border: 0;
  right: 8px;
  top: 8px;
  
  
  
 margin-left: auto;
  background-color: transparent;

  &:hover,
  &:focus {
      fill: var(--third-color);
    }


  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu {
  padding: 48px 40px;
  position: absolute;
  top: 0;
width: 100vw;
height: 100vh;
background-color:var(--main-color);

> .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
  @media screen and (min-width: 768px) {
      display: none;
    }
}


.menu-list {
  margin: 0;
  padding: 0;
  // margin-bottom: 256px;
  
}

.menu-list__item {
  list-style: none;
  margin-right: 40px;
}
.menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-list__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47/40);
    letter-spacing: 0.02em;
    color: var(--first-color);
}

.mob-menu__contact {
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.mob-menu__item {
  list-style: none;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link-tel {
  font-weight: 500;
    font-size: 34px;
    line-height: calc(40/34);
    letter-spacing: 0.02em;
    color: var(--third-color);

    @media screen and (max-width: 389px) {
      font-size: 24px;
      line-height: calc(28/24);
      
    }
}
.mob-menu__link-email {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.02em;
  color: var(--secondary-color);
}



.mob-soc {
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 64px;
  margin-bottom: 48px;

  @media screen and (max-width: 479px) {
flex-wrap: wrap;
    
  }
}

.mob-soc__item {
  font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--third-color);
}
.mob-soc__item {
 border-right: 1px solid rgba(33, 33, 33, 0.2);
border-left: 1px solid rgba(33, 33, 33, 0.2);
 padding-right: 9px;
 padding-left: 9px;
}

.mob-soc__item:first-child {
  border-left: 0;
  padding-left: 0;
}
.mob-soc__item:last-child {
  border-right: 0;
  padding-right: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


//mobile menu//


.site-nav__list {

  display: none;
  color: var(--first-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  list-style: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  @media screen and (min-width: 768px) {
      display: flex;
      gap: 50px;
    }
}

.contact-nav__link {
  display: flex;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  list-style: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--third-color);
  }
   
}

.site-nav__link {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--first-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--third-color);
  }
}

.site-nav {
  @media screen and (min-width: 1200px) {
      margin-right: 0;
    }
}
// .site-nav__item {
//   margin-right: 50px;

//   &:last-child {
//     margin-right: 0;
//   }
// }
.site-nav__item:last-child {
  margin-right: 96px;
}
.link.current {
  color: var(--third-color);
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--third-color);
  bottom: -1px;
  left: 0px;
  border-radius: 2px;
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav {
  display: none;
  // margin-left: auto;
  align-items: center;

  color: var(--secondary-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  gap: 10px;
  

  @media screen and (min-width: 768px) {
      display: flex;
    }
        @media screen and (min-width: 1200px) {
          flex-direction: row;
          margin-left: auto;
          font-size: 14px;
          line-height: 1.142;
          gap: 30px;
        }
}

.contact-nav__item {
  // margin-left: 50px;
  list-style: none;
  display: flex;
  width: 138px;
  @media screen and (min-width: 1200px) {
      width: auto;
    }
}
.contact-nav__item:first-child {
  margin-left: 0;
}

.contact-nav__icon {
  display: flex;
  align-items: center;
  fill: var(--secondary-color);

  &:hover,
  &:focus {
    fill: var(--third-color);
  }
}

.contact-nav__icon-margin {
  width: auto;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
